@media all and (min-height: 1000px ) and (max-width: 1439px) {
    .body {
        position: absolute;
        height: 1000px;
        width: 375px;
        top: 50%;
        left: 50%;
        margin-top: -500px;
        margin-left: -187.5px;
        background-color: hsl(0, 100%, 74%)
    }
}

@media all and (max-width: 1439px) {
    .body {
        position: absolute;
        height: 1000px;
        width: 375px;
        left: 50%;
        margin-left: -187.5px;
        background-color: hsl(0, 100%, 74%)
    }

    .desktop {
        display: none;
    }
}

@media all and (min-width: 1440px) {
    .body {
        position: absolute;
        height: 800px;
        width: 1440px;
        top: 50%;
        left: 50%;
        margin-top: -400px;
        margin-left: -720px;
        background-color: hsl(0, 100%, 74%)
    }

    .desktop {
        position: absolute;
        left: 50%;
        margin-left: -706px;
    }

    .mobile {
        display: none;
    }
}